<div class="intro-slider-container mb-4">
    <div class="intro-slider owl-carousel owl-simple owl-nav-inside" data-toggle="owl" data-owl-options='{
                        "nav": false,
                        "dots": true,
                        "responsive": {
                            "992": {
                                "nav": true,
                                "dots": false
                            }
                        }
                    }'>

        <!--Hiện thị slide-->
        <div class="intro-slide" th:each="slide: ${slide}"
             th:style="'background-image: url(/assets/images/slider/' + ${slide.image} + ');'">
            <div class="container intro-content">
                <h3 class="intro-subtitle text-primary" th:text="${slide.content}" ></h3><!-- End .h3 intro-subtitle -->
                <h1 class="intro-title" th:text="${slide.title}">Get All <br></h1><!-- End .intro-title -->

                <a href="#" class="btn btn-outline-primary-2">
                    <span>DISCOVER MORE</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div><!-- End .intro-content -->
        </div><!-- End .intro-slide -->


    </div>

    <span class="slider-loader"></span>
</div><!-- End .intro-slider-container -->


<div class="container">
    <div class="toolbox toolbox-filter">
        <div class="toolbox-right">
            <ul class="nav-filter product-filter">
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li th:each="category: ${category}" ><a th:href="@{/home/category/{id}(id=${category.id})}" data-filter=".furniture" th:text="${category.name}"></a></li>
            </ul>
        </div><!-- End .toolbox-right -->
    </div><!-- End .filter-toolbox -->


    <div class="products-container" data-layout="fitRows">

        <!--hien thi san pham-->
        <div class="product-item furniture col-6 col-md-4 col-lg-3" th:each="product: ${product}">
            <div class="product product-4">
                <figure class="product-media">
                    <a th:href="@{/home/product/{id}(id=${product.id})}">
                        <img th:src="@{'/assets/images/productImg/' + ${product.image}}" class="product-image">
                    </a>
                </figure>
                <div class="product-body">
                    <h3 class="product-title">Giá:  <a th:href="@{/home/product/{id}(id=${product.id})}" th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></a>VND</h3>
                    <h3 class="product-title"><a th:href="@{/home/product/{id}(id=${product.id})}" th:text="${product.title}"></a></h3><br>
                    <div class="product-action">
                        <!-- thêm giỏ hàng< -->
                        <form th:action="@{/home/addToCart/{id}(id=${product.id})}" method="post">
                            <button type="submit" class="btn-product btn-cart">
                                <span>Thêm vào giỏ hàng</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </form>

                    </div>
                </div><!-- End .product-body -->
            </div>

        </div>


    </div><!-- End .products-container -->
</div><!-- End .container -->

<div class="more-container text-center mt-0 mb-7">
    <a href="category" class="btn btn-outline-dark-3 btn-more"><span>Nhiều hơn</span><i class="la la-refresh"></i></a>
</div><!-- End .more-container -->